<a href="https://colab.research.google.com/github/dpetrovic89/Telenor-Churn/blob/main/2%20Pre_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries & Load Data

In [ ]:
import pandas as pd

In [ ]:
df_description = pd.read_csv('https://raw.githubusercontent.com/dpetrovic89/data/main/Variable-Explanation-Test-Data-Scientist_2022.csv', header=None, )
df_description.head(15)

                       0                                                  1   2
0          SUBSCRIBER_ID                                   ID of subscriber NaN
1               BNUM_OUT   Number of different numbers who subscriber calls NaN
2                BNUM_IN  Number of different numbers that make calls to... NaN
3                  CHURN               Churn event, 1 - churn, 0 non-churn. NaN
4         PROD_CNT_MACRO  Number of bundles that customer activated (ave... NaN
5            REV_BUN_MAC  Revenue from bundles that customer activated (... NaN
6                REV_OUT           Total Revenue (average in last 3 months) NaN
7      USAGE_OUT_INT_DUR  Number of outgoing international minutes (aver... NaN
8   USAGE_OUT_OFFNET_DUR  Number of outgoing minutes to competitor netwo... NaN
9    USAGE_OUT_ONNET_DUR  Number of outgoing minutes in the network (ave... NaN
10            LNE_TENURE                              User tenure in months NaN
11             TOPUP_AMT  Total topup (refill) amount (average in last 3... NaN
12             TOPUP_CNT  Number of topups (refill) (average in last 3 m... NaN
13               Segment                                  Customer segment. NaN

In [ ]:
df= pd.read_csv('https://raw.githubusercontent.com/dpetrovic89/data/main/Data-Churn-Test-Data-Scientist_2021.csv' )
df.head()

   SUBSCRIBER_ID  BNUM_OUT  BNUM_IN  ...  TOPUP_AMT  TOPUP_CNT    Segment
0              1       2.0      3.0  ...        NaN        NaN  Segment 1
1              2      52.0     32.0  ...        2.0        3.0  Segment 2
2              3       NaN      NaN  ...        NaN        0.0  Segment 3
3              4       4.0      5.0  ...        4.0        2.0  Segment 1
4              5       0.0     14.0  ...        6.0        2.0  Segment 5

[5 rows x 14 columns]

# Pre-Process Data

In [ ]:
# drop segment column

df = df.drop('Segment', 1)

In [ ]:
# move CHURN column to the end

column_to_move = df.pop("CHURN")

# insert column with insert(location, column_name, column_value)

df.insert(12, "CHURN", column_to_move)

In [ ]:
df

      SUBSCRIBER_ID  BNUM_OUT  BNUM_IN  ...  TOPUP_AMT  TOPUP_CNT  CHURN
0                 1       2.0      3.0  ...        NaN        NaN      1
1                 2      52.0     32.0  ...        2.0        3.0      0
2                 3       NaN      NaN  ...        NaN        0.0      0
3                 4       4.0      5.0  ...        4.0        2.0      1
4                 5       0.0     14.0  ...        6.0        2.0      0
...             ...       ...      ...  ...        ...        ...    ...
4995           4996       1.0      0.0  ...        NaN        NaN      1
4996           4997      11.0     11.0  ...        3.0        3.0      0
4997           4998       2.0      9.0  ...        1.0        1.0      0
4998           4999      15.0     17.0  ...        3.0        2.0      0
4999           5000       1.0      4.0  ...        NaN        NaN      1

[5000 rows x 13 columns]

## Missing Values

In [ ]:
# Columss replaced with mean [BNUM_OUT, BNUM_IN, REV_OUT]
# Columns replaced with -1 [PROD_CNT_MACRO,	REV_BUN_MAC, USAGE_OUT_INT_DUR,	USAGE_OUT_OFFNET_DUR,	USAGE_OUT_ONNET_DUR, TOPUP_AMT,	TOPUP_CNT]

In [ ]:
# stratified data split

from sklearn.model_selection import train_test_split

X = df.drop('CHURN',axis=1)
y = df['CHURN']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=123)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((4000, 12), (1000, 12), (4000,), (1000,))

In [ ]:
df.to_csv('Telenor-Clean-Data-Churn.csv', index=False)